//#confessionsPage {
//  display: flex;
//  justify-content: space-between;
//  width: 90vw;
//  margin: 0 auto;
//}
//
//.confessionsPage__column {
//  flex: 0 0 25%;
//}
.confessionsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;


}

.confessions-page__wrapper {
  max-width: 80vw;
  min-width: 40vw;
}

.confessions-page__confession-wrapper {
  display: flex;
  justify-content: space-between;
  transition: opacity 500ms;
  flex-wrap: wrap;
}

@keyframes neon {
  0% {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
    box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(101, 2, 193, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(101, 2, 193, 1);
    box-shadow: 0px 0px 15px 0px rgba(101, 2, 193, 1);
  }
  100% {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(27, 1, 184, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(27, 1, 184, 1);
    box-shadow: 0px 0px 15px 0px rgba(27, 1, 184, 1);
  }
}

.confession {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 0 0 calc(33.33% - .8em);
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em .2em;
  animation: neon 6s linear 0s infinite alternate;
  box-sizing: border-box;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &__body {
    padding: 1em 1.5em;
    position: relative;

    .uk-icon {
      position: absolute;
      top: 0;

      &:first-child {
        left: 0;
        transform: RotateY(180deg);
      }

      &:last-child {
        right: 0;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}