
/*  splash screen*/
#splash {
  position: absolute;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;

//  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: black;
  animation: spin 1s infinite linear;
}
#splash h1{

  width: 100%;
  color: white;
  font-family: 'Poppins', sans-serif;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  opacity: 100;
  margin: 0 0 1em;
  animation: in 3s ease-out forwards;
  animation-delay: 2s;
}

@keyframes in{
  0%{
    letter-spacing: 0px;
    opacity: 1;
  }
  30%{
    letter-spacing: 1em;
    opacity: 0;
  }
  100%{
    letter-spacing: 3em;
    opacity: 0;
  }
}
#splash img {
  width: 30vh;
  height: auto;
  padding: 1em;
  margin: 2em 0 0;
  //margin-top: auto;
}

.a-enter-ar, .a-enter-vr {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  width: 100%;
  font-weight: 200;
  line-height: 16px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.ALT_home-page__confession-wrapper {
  display: flex;
  justify-content: center;
  transition: opacity 500ms;
}

#home-page {
    background: #000;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__wrapper {
    max-width: 80vw;
    min-width: 50vw;

    .uk-button-default {
      width: 100%;
      background-color: white !important;
    }
  .uk-button-default:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7)!important;
    transition: background-color 500ms;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
    box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
    border: 1px solid rgba(214, 48, 233, 1);
    }

  }
    

  &__confession-wrapper {
    display: flex;
    justify-content: space-between;
    transition: opacity 500ms;
  }

  &.focus {
    .home-page__confession-wrapper {
      opacity: .5;
    }

    #confession-form {
      opacity: 1;
    }
  }
}

#confession-form {
  $inputHeight: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 60%;
  margin: 5em auto;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
    
  //animation: neon 6s linear 0s infinite alternate;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
  box-shadow: 0px 0px 15px 0px rgba(214, 48, 233, 1);
    
  //transition: opacity 500ms;
  opacity: .5;
  
    
  #instruction {
//    margin-top: 6em;
    color:#fff;
    }

  textarea {
    display: block;
    margin: 0;
    // line-height: calc(#{$inputHeight} / 1.5);
    font-size: 1.5rem;
    // height: $inputHeight;
    resize: none;
    margin-bottom: .3rem;
  }

  .character-count {
    width: 100%;
    color: white;
    text-align: right;

  }

  button {
    height: $inputHeight;
    max-width: 48%;
    margin-top: 1em;
  }

  #response {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 768px) {
  #confession-form {
    max-width: 100%;
  }

  .home-page__wrapper {
    max-width: 95vw;
  }
}