@import "util";
@import "homepage";
@import "confessions";

/* To add this to separate SCSS file  */
textarea:focus {
  outline: none !important;
  border-color: inherit !important;
}

.a-enter-vr-button {
  width: fit-content !important;
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  height: fit-content !important;
}

.a-modal {
  display: none !important;
}